<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace = "base::layout(~{::section})">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title th:text = "${title}" ></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <section class="d-flex align-items-center justify-content-center"  id="banner" >

        <div class=" col-md-6 offset-3 ">
            <h2 class="text-center" font>Welcome to Smart Contact</h2>

            <p class="justify-content-center" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis illo reiciendis, delectus voluptate est nam incidunt, fuga consequuntur expedita dolorem odit tempora debitis voluptatibus harum placeat voluptas quos accusantium esse.</p>
        </div>

     </section>
</body>
</html>