<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace = "userbase::layout(~{::section})">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <section>
        <div class="card mr-4 text-center">
            <div class="card-body" >
                <div class="form-group">
                  <img style=" width: 40%; height: 40%;" th:src="@{'/images/user/phone.jpg'}">
                  <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> Start adding your contacts to cloud</h2>
                  <a class="btn btn-primary btn-block text-white form-group" th:href="@{'/user/add-contact'}">Add New Contact</a>         
                    <label class="" style="text-align: left;" >Donate us</label>
                    <input type="number" id="payment_field" class="form-control form-group"  />
                    <button class="btn btn-primary btn-block text-white" onclick="paymentStart()" id="checkout" >Checkout</button>                
                </div>

                </div>
                </div>
    </section>
</body>
</html>