<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace = "userbase::layout(~{::section})">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <section>
        <div class="card mr-4">
            <div class="card-body" >

              <div id="search-container">
                <input class="form-control" onkeyup="getSearch(this)" id="search-input" placeholder="search your contacts here"></div>
                <div id="search-result" >  </div>
              </div>

                <table class="table">
                    <thead class="thead bg-primary">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Work</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr th:each="c : ${contacts}">
                        <th scope="row"  th:text="${c.cId}" ></th>
                        <td ><img id="profilePic" th:src="@{'/images/'+${c.image}}"><span th:text="${c.name}"></span></td>
                        <td th:text="${c.work}"></td>
                        <td ><a  th:text="${c.email}" th:href="@{'/user/brief-contact/'+${c.cId}}"></a></td>
                        <td th:text="${c.phone}"></td>
                        <td ><a class="btn btn-primary mr-2" th:href="@{'/user/update-contact/'+${c.cId}}" >Update</a><a class="btn btn-danger text-white" th:href="@{'/user/delete-contact/'+${c.cId}}" >Delete</a></td>
                      </tr>
                    </tbody>
                  </table>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li th:if="${currentPage != 0}" class="page-item"><a class="page-link" th:href="@{'/user/view-contact/'+${currentPage - 1}}">Previous</a></li>
                      <li th:classAppend="${currentPage == i -1 ? 'active' : ''}" th:each="i : ${#numbers.sequence(1,totalPage)}" class="page-item"><a class="page-link" th:text="${i}" th:href="@{'/user/view-contact/'+${i-1}}"></a></li>
                      <li th:if="${totalPage -1  != currentPage }" class="page-item"><a class="page-link" th:href="@{'/user/view-contact/'+${currentPage + 1}}">Next</a></li>
                    </ul>
                  </nav>
                </div>
                </div>
    </section>
</body>
</html>