<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace = "base::layout(~{::section})">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Content</title>

</head>
<body>
    
    <section>
        <h1>This is the new section extended</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ipsa facilis porro quam voluptates nam consequuntur, rem eius quaerat, optio tempora cumque accusamus quia eaque autem nobis iure! Accusantium, saepe.</p>
    </section>

</body>
</html>