<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div  th:fragment="footer(name)">
    <div class="container" th:fragment="footer" style="background-color: orangered; color: white;">
        <p>Welcome to the footer pate</p>
        <p>@Copyrighted by me</p>
        <p th:text= "${name}"></p>
    </div>
    </div>
</body>
</html>